<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>La Carta</title>
</head>
<body>
    <header>
        <h1>Nuestro Restó</h1>
        <h2>Carta</h2>
    </header>
    <main>
        <aside>
            <nav>
                <ul>
                    <li><a href="/">Entradas</a></li>
                    <li><a href="/principal">Platos principales</a></li>
                    <li>Ensaladas</li>
                    <li>Raws</li>
                    <li><a href="/postres">Postres</a></li>
                    <li>Desayunos y Meriendas</li>
                    <li>Bebidas</li>
                    <li>Smoothies</li>
                    <li>Té y café</li>
                    <li>Vinos</li>
                    <li>Cervezas</li>
                </ul>
             </nav>
        </aside>
        <section>
            <h3>Postres</h3>
           <article>
                <h4>Flan Casero</h4>
                <p>Nuestro clásico flan con dulce de leche y crema.</p>
           </article>

           <article>
                <h4>Ensalada de frutas</h4>
           </article>

           <article>
                <h4>Fondue de chocolate</h4>
                <p>Con frutas frescas fileteadas.</p>
           </article>
    
           <article>
                <h4>Crocante de Banana y Nutella</h4>
           </article>

           <article>
                <h4>Degustación de Mousses</h4>
                <p>Mousse de mango, chocolate, moka y frutos rojos.
                </p>
           </article>

           <article>
                <h4>Cheesecake</h4>
            </article>
            <div>
                <a href="#">Volver arriba</a>
            </div>
        </section>
        <div>
            <img class="foto_producto" src="/img/foto-postre.jpg" alt="">
        </div>
            
    </main>

    <footer>
        <img src="/img/logo-web.png" alt="logo">
        <nav>
            <h4>Contacto</h4>
            <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Instagram</a></li>
            </ul>
        </nav>
    </footer>

</body>
</html>