<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Carta</title>
</head>
<body>
    <header>
        <h1>Nuestro Restó</h1>
        <h2>Carta</h2>
    </header>
    <aside>
        <nav>
            <ul>
                <li><a href="/">Entradas</a></li>
                <li><a href="/principal">Platos principales</a></li>
                <li>Ensaladas</li>
                <li>Raws</li>
                <li><a href="/postres">Postres</a></li>
                <li>Desayunos y Meriendas</li>
                <li>Bebidas</li>
                <li>Smoothies</li>
                <li>Té y café</li>
                <li>Vinos</li>
                <li>Cervezas</li>
            </ul>
        </nav>
    </aside>
    <main>
        <section>
            <h3>Platos Principales</h3>
           <article>
                <h4>Bife Criollo</h4>
                <p>Ojo de bife con patines andinos, ensalada de rúcula, provolone y salsa criolla</p>
           </article>

           <article>
                <h4>Ensalada Caesar</h4>
                <p>Con langostinos o con Pollo. Clásica Caesar Salad con pollo grillado o langostinos</p>
           </article>

           <article>
                <h4>Penne Rigatte</h4>
                <p>Con salsa filete, crema o rosa.</p>
           </article>

            <img src="/img/foto-ppal.jpg" alt="">

           <article>
                <h4>Ensalada de langostinos</h4>
                <p>Langostinos salteados, trabajito, cebolla de verdeo y mango con dressing de naranja, vinagre y aceite de oliva.</p>
           </article>

           <article>
                <h4>Ceviche (elaborado en el momento)</h4>
                <p>Pesca del día del barrio chino con cebolla morada, ajo, rocoto, apio, cilantro, jengibre, maíz cancha, batata y leche de tigre.
                </p>
           </article>

           <article>
                <h4>Pesca con Chop Suey</h4>
                <p>Pesca del día a la plancha con olivas, ajo y alcaparras, acompañada de chop suey de vegetales.
                </p>
            </article>

            <article>
                <h4>Pesca a la plancha</h4>
                <p>Con risotto verde de espárragos y remolacha asada.
                </p>
            </article>

            <article>
                <h4>Bife T-Bone</h4>
                <p>Langostinos a la plancha con frutos secos, tomates cherry, albahaca y cous cous
                </p>
            </article>

            <article>
                <h4>Chipirones a la plancha</h4>
                <p>600 gas de carne corte T-Bone con chimichurri, patines andinos y encurtido de remolacha.</p>
            </article>

            <article>
                <h4>Pechuguitas Ahumadas</h4>
                <p>Pechugas de pollo ahumadas, rellenas con duxelle de hongos y cebolla. Servido con arroz con mostaza y naranjas almendradas</p>
            </article>

            <article>
                <h4>Carré de cerdo</h4>
                <p>Con Chutney de zanahorias y batatas glaseadas con salsa teriyaki.</p>
            </article>

            <article>
                <h4> Sorrentinos verdes</h4>
                <p>Rellenos con calabaza asada y queso brie, perfumados con manteca de hierbas y jugo de pomelo.</p>
            </article>

            <p><a href="#">Volver arriba</a></p>
        </section>
            
    </main>

    <footer>
        <img src="/img/logo-web.png" alt="logo" width="300">
        <nav>
            <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Instagram</a></li>
            </ul>
        </nav>
    </footer>

</body>
</html>