* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --colorNegro: #202020;
    --colorGrisClaro: #d8d8d8;
    --colorGrisOscuro: #6b6b6b;
    --colorBlanco: #ffff;
    --tipografiaGeneral:'Roboto', sans-serif;

}

body {
    font-family: var(--tipografiaGeneral);
    font-weight: 300;
    margin: 0px;
    
}

h1 {
    font-family: var(--tipografiaGeneral);
    font-weight: 900;
    font-size: 2em;
    color: var(--colorNegro);
}

ul li {
    list-style: none;
} 

ul {
    /* padding-left: 0px; */
}

a {
    text-decoration: none;
    color: #000;
}



h2 {
    font-family: var(--tipografiaGeneral);
    font-weight: 900;
    font-size: 1.5em;
    color: var(--colorNegro);

}

h3 {
    font-family: var(--tipografiaGeneral);
    font-weight: 900;
    font-size: 1.2em;
    color: var(--colorNegro);

}

h4 {
    font-family: var(--tipografiaGeneral);
    font-weight: 900;
    font-size: 1em;
    color: var(--colorNegro);
}

p{
    font-family: var(--tipografiaGeneral);
    font-weight: 400;
    font-size: 0.9em;
    color: var(--colorNegro);
}

img{
    width: 100%;
    
}