/* MAIN */
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 50px 50px;
    
    
}

main aside{
    margin: 0;
    
}


main aside nav{
    height: 100%;
}

main aside nav ul {
  box-shadow: 1px 0px 0px 0px rgba(143, 143, 143);
  padding: 0 20px 0 0;
  height: 100%;
}

main aside nav ul li{
    padding: 5px 0;
}


main section h3{
    padding: 0px 0px 10px 20px;
}


main section article{
    padding: 20px 0px 10px 40px;
}

main section div {
    padding: 20px 0px 10px 20px;
   
}

main section img.foto_producto {
    
    border: 10px solid grey;
}


main section div a{
    font-weight: 900;
    font-size: 1em;
    color: var(--colorNegro);
}


